@tailwind base;
@tailwind components;
@tailwind utilities;

.headline {
  font-size: 250px;
  padding: 0;
  display: flex;
  width: 100%;
  display: flex;
  width: 100%;
  line-height: 0.8em;
}
.menu {
  display: flex;
  width: fit-content;
  position: fixed;
  top: 5%;
  right: 2%;
}

.menu li {
  padding: 1em;
  margin: 1em;
  background-color: #32323245;
  border-radius: 1em;
}

.productDesignerDiv {
  display: flex;
  /* justify-content: space-around; */
}

.productDesigner {
  font-size: 50px;
  width: 50%;
  /* background-color: aqua; */
}
